{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse - la boutique française {% endblock %}

{% block content %}
    
<div class='row'>   
    
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote">
          <h1> Gérer mes adrresses </h1>
          <footer class="card-blockquote"><cite title="Source title text-sm"></cite></footer>
        </blockquote>
      </div>
    </div>
    
    <h4 class='mt-4 mb-4'>Formulaire</h4>

    <div class="list-group mb-4">
          <a href="{{path('app_account_address')}}" class="list-group-item list-group-item-action list-group-item-info">Mom compte</a>
          <a href="{{path('app_account_add_address')}}" class="list-group-item list-group-item-action list-group-item-info">Ajouter une addresse</a>
    </div>
    
    {# {{ form(form) }} #}
    {{ form_start(form) }}
        <div class="row">
              <div class="col-md-12">{{ form_row(form.name) }}</div>
              <div class="col-md-6">{{ form_row(form.firstname) }}</div>
              <div class="col-md-6">{{ form_row(form.lastname) }}</div>
              <div class="col-md-6">{{ form_row(form.company) }}</div>
              <div class="col-md-6">{{form_row(form.address) }}</div>
              <div class="col-md-6">{{ form_row(form.postal) }}</div>
              <div class="col-md-6">{{ form_row(form.city) }}</div>
              <div class="col-md-6">{{ form_row(form.country) }}</div>
              <div class="col-md-6">{{ form_row(form.phone) }}</div>
        </div>
    {{ form_end(form) }}
    
</div>

{% endblock %}